In [1]:
num1= 23
num2= 25
print(num1+num2)

48

In [2]:
#Arithmatic operator

In [3]:
print(2+3-5*10)

-45

In [4]:
#addition

In [5]:
a = 24
b = 25
print(a+b)

49

In [6]:
#substraction

In [7]:
a = 24
b = 25
print(a-b)

-1

In [9]:
#multiplication

In [10]:
print(20*3)

60

In [11]:
# division

In [13]:
print(int(24/3))

8

In [14]:
# floor devision

In [15]:
print(10//3)

3

In [16]:
#modulus

In [17]:
print(10%3)

1

In [18]:
# exponent

In [19]:
print(10**2)

100

In [20]:
a = int(input("enter a first number:"))
b = int(input("enter a second number:"))
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b)
print(a//b)

enter a first number:5
enter a second number:5
10
0
25
1.0
3125
1

In [21]:
a = int(input("enter a first number:"))
b = int(input("enter a second number:"))
print(a+b," ",a-b," ",a*b," ",a**b," ",a/b," ",a//b)

enter a first number:5
enter a second number:5
10   0   25   3125   1.0   1

In [22]:
#logical operators 
# &,or,Not

In [23]:
name = True
print(name)

True

In [25]:
name = True and False 
print(name)

False

In [27]:
#or operator
name = True or False 
print(name)

True

In [30]:
name = False and True 
print(name)

False

In [31]:
#NOT operator

In [32]:
a = not True
print(a)

False

In [34]:
a = True
print(not a)

False

In [35]:
a = False
print(not a)

True

In [36]:
# Real time Exapmle

In [40]:
user= input("Enter your username:")
password = input("Enter your password :")

if user =="krish" and password == "12345":
    print("you are logged in....")
else:
    print("incorrect useername and password")

Enter your username:nilesh
Enter your password :12345
incorrect useername and password

In [41]:
user= input("Enter your username:")
password = input("Enter your password :")

if user =="krish" and password == "12345":
    print("you are logged in....")
else:
    print("incorrect useername and password")

Enter your username:krish
Enter your password :12345
you are logged in....

In [42]:
# membership operators 


# IN   
# NOT IN

In [43]:
a =[10,20,30]
print(a)

[10, 20, 30]

In [44]:
a = [10,20,30]
res = 10 in a
print(res)

True

In [45]:
a = [10,20,30]
res = 50 in a
print(res)

False

In [47]:
a = [10,20,30]
res = 50 not  in a
print(res)

True

In [49]:
a = [10,20,30]
res = 10 not in a
print(res)

False

In [51]:
value = "Hello"
res = "a" in value
print(res)

False

In [52]:
value = "Hello"
res = "e" in value
print(res)

True

In [53]:
# Equality operator
# ==
# !=

In [54]:
print(1!=1)

False

In [56]:
print(1!=2)

True

In [57]:
print(2==2)

True

In [59]:
print(2==3)

False

In [60]:
#comparison operator
# 1 == equal
# 2 != equal to
# 3 >  greator than
# 4 >= greator than euqal to
# 5 <  less than
# 6 <= less than equal to

In [61]:
a = 5
b = 10
print(a<b)

True

In [63]:
a = 5
b = 10
print(a>b)

False

In [65]:
a = 10
b = 10
print(a==b)

True

In [67]:
a = 5
b = 10
print(a<=b)

True

In [69]:
a = 10
b = 5
print(a>=b)

True

In [72]:
a = 5
b = 10
print(a!=b)

True

In [74]:
a = 20
b = 10
print(a!=b)

True

In [ ]:
a = 10
b = 10
print(a!=b)

# control flow
# there are three types of control flow
# 1.Conditional Control Flow
# 2.Loop control Flow
# 3.Control /Transfer Statement

In [88]:
w = input("Enter weather")
if w == "raining":
    print("take Umbrella")
else:
    print("don't take  Umbrella")

Enter weatherraining
take Umbrella

In [89]:
#1 Conditional control flow
# defination

#decision making structure require that the programmer specify  one or more condition to be evaluate or tested by the program,along with a statement or statement to be  executed if the conditon is determine to be true and optionally, other statement to be executed if the  condition is determine to false

In [ ]:
#IF Statement #IF-else statement

In [1]:
value = 10
if value == 10:
    print("same value")  #True block
else:
    print("it is different value")   #false block

same value

In [3]:

# with different value
value = 20
if value == 10:
    print("same value")  #True block
else:
    print("it is different value")   #false block

it is different value

In [4]:
#3 if elif else statement 

#the elif statement allows the user to check multiple expression  for TRUE and excute a block of code as soon as one of the condtions  evaluates to TRUE.

In [5]:
#else example 

a = 10 
if a == 10:
    print("hey")
else:
    print("bye")

hey

In [7]:
# IF-elif- statement program

In [8]:
num = 10 
if num <= 0:
    print("negaitve number")
elif num == 0:
    print("you have entered 0")
else:
    print("positive number")

positive number

In [17]:
num = int(input("enter a number:"))
if num < 0:
    print("negaitve number")
elif num ==0:
    print("you have entered 0")
else:
    print("positive number")

enter a number:0
you have entered 0

In [19]:
num = int(input("enter a number:"))
if num < 0:
    print("negaitve number")
elif num ==0:
    print("you have entered 0")
else:
    print("positive number")

enter a number:-4
negaitve number

In [20]:
num = int(input("enter a number:"))
if num < 0:
    print("negaitve number")
elif num ==0:
    print("you have entered 0")
else:
    print("positive number")

enter a number:6
positive number

In [ ]:
# if example

In [25]:
day = int(input("enter  the day:"))
if day == 1:
    print("Sunday")
if day == 2:
    print("Monday")
if day == 3:
    print("tuesday")
if day == 4:
    print("Wednesday")
if day == 5:
    print("Thursday")
if day == 6:
    print("Friday")
if day == 7:
    print("Saturday")
else:
    print("invalid input")

enter  the day:9
invalid input

In [26]:
#example
age = int(input("Enter your age:"))
if age >= 18:
    print("You can give the Vote:")
elif age <= 18:
    print("You cannot give the Vote ")
else:
    print("invalid input")

Enter your age:14
You cannot give the Vote

In [28]:
#example
age = int(input("Enter your age:"))
if age >= 18:
    print("You can give the Vote")
elif age <= 18:
    print("You cannot give the Vote ")
else:
    print("invalid input")

Enter your age:57
You can give the Vote

In [29]:
#Home work questions driveing licence
age = int(input("Enter your age:"))
if age >= 18:
    print("You can get access for license")
elif age <= 18:
    print("Your age is not eligeble for getting access for license")
else:
    print("invalid input")

Enter your age:17
Your age is not eligeble for getting access for license

In [30]:
#Home work questions driveing licence
age = int(input("Enter your age:"))
if age >= 18:
    print("You can get access for license")
elif age <= 18:
    print("Your age is not eligeble for getting access for license")
else:
    print("invalid input")

Enter your age:25
You can get access for license

In [31]:
#looping 

print("hello world")

hello world

In [33]:
#print hello world for 10 times 

for i in range (1,11):  #(n-1) format means if you want 4 time output you have to enter 5 times like(1,5)
    print(i,"hello world")

1 hello world
2 hello world
3 hello world
4 hello world
5 hello world
6 hello world
7 hello world
8 hello world
9 hello world
10 hello world

In [34]:
#print tables  

for i in range (1,11):  
    print(i*2)

2
4
6
8
10
12
14
16
18
20

In [35]:
#print tables  

for i in range (1,11):  
    print("2","x",i,"=",i*2)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [38]:
#print tables  
a  = int(input("enter the number:"))
for i in range (1,11):  
    print(a,"x",i,"  =",i*a)

enter the number:5
5 x 1   = 5
5 x 2   = 10
5 x 3   = 15
5 x 4   = 20
5 x 5   = 25
5 x 6   = 30
5 x 7   = 35
5 x 8   = 40
5 x 9   = 45
5 x 10   = 50

In [39]:
num = 10
for ram in range (1,11):  
    print("ram")

ram
ram
ram
ram
ram
ram
ram
ram
ram
ram

In [42]:
#getting  2 defference values 2 value sodun print mag part 2 value print
for i in range (1,11,2):  
    print(i)

1
3
5
7
9

In [49]:

for i in "Hello python":  
    print(i)

H
e
l
l
o

p
y
t
h
o
n

In [53]:
#even or odd program
for i in range (1,11):
    if (i%2==0):
        print(i,"=","even number")
    else:
        print(i,"=","odd number")

1 = odd number
2 = even number
3 = odd number
4 = even number
5 = odd number
6 = even number
7 = odd number
8 = even number
9 = odd number
10 = even number