In [1]:
#while loop

#repedeatly execute a block of code while a condition is true

#syntax:
#   while condition:
#         statement

In [4]:
#exaample

num = 1          #first execute
while num<=10:#checking condtion
    print(num)#printing 
    num = num+1  #condition executeing

1
2
3
4
5
6
7
8
9
10

In [8]:
counter = 1 
while counter <=10:
    print("Hello world")
    counter = counter+1

Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world

In [10]:
#ascending order
num = 1
while num <=10:
    print(num)
    num = num+1

1
2
3
4
5
6
7
8
9
10

In [23]:
#descending order 

num = 10
while num >=1:
    print(num)
    num = num-1

10
9
8
7
6
5
4
3
2
1

In [30]:
#exculding  values by 3
num = 10
while num >=1 :
    print(num)
    num = num-3

10
7
4
1

In [32]:
r = 5
i = 1
while i<=r:
    print("*" * i)
    i = i + 1

*
**
***
****
*****

In [2]:
a = 10
a = a+1
print(a)

11

In [3]:
r = 1
i = 5
while i>=r:
    print("*" * i)
    i = i - 1

*****
****
***
**
*

In [14]:
r = 2
i = 5
while i>=r:
    print("*" * i)
    i = i - 1
    
a = 5
b = 1
while b<=a:
    print("*" * b)
    b = b + 1

*****
****
***
**
*
**
***
****
*****

Control statement/Transfer statement
1.break statement:
    use to exit or terminate the  current loop prematurely.

In [18]:
#program for break statement

for i in range(1,11):
    if i == 6 :
        break    
    print(i)
print("end loop")

1
2
3
4
5
end loop

2.continue statement

    Skip the current iteration of the loop and proceed to the next iteration.

In [1]:
#program for continue statement

for i in range(1,11):
    if i == 6 :    
        continue   
    print(i)
print("end loop")


#just look at code above this quit similar but only difference break statement has change with continue.
#second measure difference with output look at below 6 is excludeed form 1 to 10 numbers.
#if we doesn't want any value we will simply truncate that value using continue statement.

1
2
3
4
5
7
8
9
10
end loop

pass statement

    does nothing use as placeholder when a statement is syntactically  required but you don't want any code excuted.

In [11]:
#program for pass statement

#1
for i in range(1,11):
    if i == 6 :    
        pass  
    print(i)
print("end loop")

1
2
3
4
5
6
7
8
9
10
end loop

In [12]:
i = 2
if i < 5:
    print(i,"lesser than 5")
    pass
else:
    print("invalid input")

2 lesser than 5

In [19]:
i = 2
if i < 5:
    print(i,"lesser than 5")
    pass
else:
    print("invalid input")

2 lesser than 5

# DATA STRUCTURE IN PYTHON

In [21]:
# LIST

name = ["alex","bob","krish","salman"]
print(type(name))

<class 'list'>

In [23]:
name = ["alex","bob","krish","salman"]
print(name)

['alex', 'bob', 'krish', 'salman']

In [26]:
#indexing  printing one value  from list

name = ["alex","bob","krish","salman"]
print(name[0])       #index value starts from 0
print(name[0],name[1])
print(name[3])

alex
alex bob
salman

In [29]:
#indexing in list positive index 

name = ["alex","bob","krish","salman","lata","sita"]
print(name[5])  # <-----if you enter[6]you will get index erroe because index starts from 0 we have 6 values but problem is first value contain 0 index so it  starts from 0

sita

# slicing in list

In [32]:
name = ["alex","bob","krish","salman","lata","sita"]
print(name[1:2])  #we count list from 0 so it wiil as 0=alex,1=bob,2=krish it start from 1 and stop index is 2
print(name[1:3])  #we count list from 0 so it wiil as 0=alex,1=bob,2=krish,3 = krish it start from 1 and stop index is 3
print(name[3:5])  # stating index is 3=salman,ending index is 5=sita but end value doesn't printed.  
print(name[6:6])  # no starting and ending value is present so it will show empty list if you add some more value it is excuted. 
print(name[6:7])

['bob']
['bob', 'krish']
['salman', 'lata']
[]
[]

In [35]:
#negative indexing

name = ["alex","bob","krish","salman","lata","sita"]
print(name[-1]) #it will goes backward direction from last value of list -1 = sita 
print(name[-5])
print(name[-0])

sita
bob
alex

In [2]:
marks=[100,20,80,55,70]
print(marks) #printing entire match
print(marks[4]) #printing index value
print(marks[2]) #printing one value
print(marks[-3]) #printing negative value
print(marks[:3]) #output will goes till index value 3 and then stop
print(marks[3:]) #list will starts with index 3 and go till end 
print(marks[1]) #first index value will be show
print(marks[0:2]) #staing index value 0 and ending value 2

[100, 20, 80, 55, 70]
70
80
80
[100, 20, 80]
[55, 70]
20
[100, 20]

In [10]:
#important list program 


marks=[100,20,80,55,70,80,100,20,11,22,55,100]
print(marks[0:3:1]) #starts with 0 index will goes till index 3 with difference 1
print(marks[0:8:2]) #starts with 0 index will goes till index 8 with difference 2
print(marks[0:10:2]) #starts with 0 index will goes till index 10 with difference 2
print(marks[0:10:1]) #starts with 0 index will goes till index 10 with difference 1
print(marks[0:10:3]) #starts with 0 index will goes till index 10 with difference 3
print(marks[0: :3]) #starts with 0 index will goes till end of the list with difference 3

[100, 20, 80]
[100, 80, 70, 100]
[100, 80, 70, 100, 11]
[100, 20, 80, 55, 70, 80, 100, 20, 11, 22]
[100, 55, 100, 22]
[100, 55, 100, 22]

In [11]:
name = ["Alex","Bob","Krish","Salman","Lata","Sita","Vivek"]
print(name[: :3]) #no index define never ending index so it will goes till end with difference 3

['Alex', 'Salman', 'Vivek']

In [13]:
#how to check type of the list?
name = ["alex","bob","krish",2,3,4]
print(name)  #printing entire list
print(name[2]) #printing selected value from list
print(type(name[2])) #checking type of a value
print(type(name[4])) ##checking type of a value

['alex', 'bob', 'krish', 2, 3, 4]
krish
<class 'str'>
<class 'int'>

In [17]:
Mylist = ["Alex","Bob","Krish"]
print("list=",Mylist)
res = Mylist[0],Mylist[1]
print("result",res)

list= ['Alex', 'Bob', 'Krish']
result ('Alex', 'Bob')

In [23]:
#replacing element in the list 

mylist = ["Alex","Bob","Krish"]
print("old list=",mylist)
mylist[1] = "Ram"
print("new list=",mylist)
mylist[2] = "Sita"
print("new list=",mylist)

old list= ['Alex', 'Bob', 'Krish']
new list= ['Alex', 'Ram', 'Krish']
new list= ['Alex', 'Ram', 'Sita']

In [24]:
# Adding element to end of the list




mylist = ["Alex","Bob","Krish"]
print("old list=",mylist)
mylist.append("ram")
print("new list=",mylist)

old list= ['Alex', 'Bob', 'Krish']
new list= ['Alex', 'Bob', 'Krish', 'ram']

In [27]:
mylist = ["Alex","Bob","Krish"]
name = input("Enter the name to be add in the list:")
mylist.append(name)  #append is used only one argument
print("new list=",mylist)

Enter the name to be add in the list:nil
new list= ['Alex', 'Bob', 'Krish', 'nil']

In [28]:
#add multiple value in the list at a  one time
mylist = ["Alex","Bob","Krish"]
for i in range(1,6):
    name = input("Enter the name to be add in the list:")
    mylist.append(name)
print(mylist)

Enter the name to be add in the list:neel
Enter the name to be add in the list:vinay
Enter the name to be add in the list:rits
Enter the name to be add in the list:tanish
Enter the name to be add in the list:swaransh
['Alex', 'Bob', 'Krish', 'neel', 'vinay', 'rits', 'tanish', 'swaransh']

In [29]:
#MINI project


question = input("what city is capital of india:")
answer = "delhi" 
if question == answer:
    print("Correct ans! You won  Rs.2000 ")
else:
    print("You loose the game")

what city is capital of india:mumbai
You loose the game

In [32]:
question = input("what city is capital of india:")
answer = "delhi" 
if question == answer:
    print("Correct ans! You won  Rs.2000 ")
else:
    print("You loose the game")

what city is capital of india:delhi
Correct ans! You won  Rs.2000

In [33]:
#live example
print("WELCOME TO THE KBC")
print("which city is the capital of india:")
print("A.bengluru")
print("B.mumbai")
print("C.panjab")
print("D.New delhi")
user_answer = input()
correct_answer = "New delhi"
if correct_answer == user_answer:
    print("Correct answer.Aap jitate ho rs 100")
else:
    print("you loose the game")

WELCOME TO THE KBC
which city is the capital of india:
A.bengluru
B.mumbai
C.panjab
D.New delhi
panjab
you loose the game

In [34]:
#live example
print("WELCOME TO THE KBC")
print("which city is the capital of india:")
print("A.bengluru")
print("B.mumbai")
print("C.panjab")
print("D.New delhi")
user_answer = input()
correct_answer = "New delhi"
if correct_answer == user_answer:
    print("Correct answer.Aap jitate ho rs 100")
else:
    print("you loose the game")

WELCOME TO THE KBC
which city is the capital of india:
A.bengluru
B.mumbai
C.panjab
D.New delhi
New delhi
Correct answer.Aap jitate ho rs 100