In [2]:
mylist = [30000,50000,90000]
print(mylist)
print(mylist[0])
print(mylist[0:2])
print(mylist[0:3:2])

[30000, 50000, 90000]
30000
[30000, 50000]
[30000, 90000]

In [3]:
#adding element



mylist = [30000,50000,90000]
print(mylist)
mylist.append(40000)
print(mylist)

[30000, 50000, 90000]
[30000, 50000, 90000, 40000]

In [6]:
#finding the minimun/maximum value from the list 

salary = [30000,50000,90000,40000,100000]
print(min(salary))
print(max(salary))

30000
100000

In [ ]:
# clear():- is use to clear the list empty list
sem = ["IP","OOPS",".NET"]
sem.clear()
print(sem)

In [ ]:
# reverse():  is used to reversed the list
sem = ["IP","OOPS",".NET"]
sem.reverse()
print(sem)

In [22]:
#count():count the element from the list

sem = ["python","OOPS",".NET","python"]
res = sem.count("python")
print(res)

2

In [24]:
sem = ["IP","IP","IP","python","python"]
res = sem.count("IP")
print(res)

3

In [2]:
sem = ["IP","IP",".net","python","python","wp",""]
print(sem)
inp = input("Enter the student name to counted:")
res = sem.count(inp)
print(res)

['IP', 'IP', '.net', 'python', 'python', 'wp', '']
Enter the student name to counted:IP
2

In [7]:
# extend()                                                               

#------> To add  multiple values/element

sem1 = ["Ip","Oops",".Net","Python","maths","wp"]
sem2 = ["Java","Php","aws"]
combine = sem1.copy()  # from the copy() method original data was not  defected
combine.extend(sem2)
print("\n semester 1 students ",sem1)
print("\n semester 2 students ",sem2)
print("\n semester 3 students ",combine)

 semester 1 students  ['Ip', 'Oops', '.Net', 'Python', 'maths', 'wp']

 semester 2 students  ['Java', 'Php', 'aws']

 semester 3 students  ['Ip', 'Oops', '.Net', 'Python', 'maths', 'wp', 'Java', 'Php', 'aws']

In [10]:
#index()

#-----> from index function we can get the index of that particular value

mylist = ["ram","shyam","satyam","sundaram"]
res = mylist.index("shyam")
print(res)

1

In [12]:
#insert()

#------>from this function we can insert value for that particular selected index

mylist = ["ram","shyam","satyam","sundaram"]
mylist.insert(0,"shivam")
print(mylist)

['shivam', 'ram', 'shyam', 'satyam', 'sundaram']

In [14]:
#pop()

#------> pop will delete index value from list

names = ["ajay","vijay","sanjay"]
names.pop(0)
print(names)

['vijay', 'sanjay']

In [16]:
#remove():

#----> it will remove list value
names = ["ajay","vijay","sanjay"]
names.remove("sanjay")
print(names)

['ajay', 'vijay']

In [17]:
#sort()

#--->sorting the list values 

names = ["vjay","ajay","sanjay"]
names.sort()
print(names)

['ajay', 'sanjay', 'vjay']

In [18]:
names = [2,1,65,4,7,3,8,9,5]
names.sort()
print(names)

[1, 2, 3, 4, 5, 7, 8, 9, 65]

In [19]:
#decending order
names = [2,1,65,4,7,3,8,9,5]
names.sort(reverse = True)
print(names)

[65, 9, 8, 7, 5, 4, 3, 2, 1]

# TUPLE

In [8]:
name = "sita","komal","alex"
print(type(name))

<class 'tuple'>

In [11]:
name = "1",
print(type(name))

<class 'tuple'>

In [12]:
name = ("ram","alex","shami","krish")
print(name[0])

ram

In [2]:
name = ["ram","alex","shami","krish"]
name[0] = "ajay"
print(name)

['ajay', 'alex', 'shami', 'krish']

In [3]:
#we can't change and modified the tuple  that why we get error here

name = ("ram","alex","shami","krish")
name[0] = "ajay"
print(name)

TypeError: 'tuple' object does not support item assignment

In [ ]:
# were we can use tuple?
#----> email id?

In [5]:
#here + operator use to merge the tuple
tup1 = (1,2,3)
tup2 = (4,5,6)
print(tup1+tup2)

(1, 2, 3, 4, 5, 6)

In [6]:
tup = (1,2,3)
if 1 in tup:
    print("value is present")
else:
    print("not present")

value is present

# Dictionary

In [12]:
fruits = {101:"alex",102:"salman",103:"komal"}
print(type(fruits))
print(fruits[101])
print(fruits[103])

<class 'dict'>
alex
komal

In [20]:
marks = {"alex":45,"salman":65,"komal":67,"ram":76}
print(marks)
print(marks["alex"])

{'alex': 45, 'salman': 65, 'komal': 67, 'ram': 76}
45

In [23]:
marks = {"alex":45,"salman":65,"komal":67,"ram":76}
marks["alex"]=100
marks[45]= "raj"

print(marks)

{'alex': 100, 'salman': 65, 'komal': 67, 'ram': 76, 45: 'raj'}

In [1]:
marks = {"alex":45,"salman":65,"komal":67,"ram":76}
#taking input from the user 
key1 = input("the name of the person ")
value = input("enter the value to be upated:")
# adding  key- value pair in the dictionary
marks [key1] = value
print(marks)

the name of the person swara
enter the value to be upated:100
{'alex': 45, 'salman': 65, 'komal': 67, 'ram': 76, 'swara': '100'}

In [3]:
marks = {"alex":45,"salman":65,"komal":67,"ram":76}
del marks["komal"]
print(marks)

{'alex': 45, 'salman': 65, 'ram': 76}

In [5]:
marks = {"alex":45,"salman":65,"komal":67,"ram":76}
print(marks.values())  #print the all values from the dict
print(marks.keys())  # print the all keys from the dict 
print(marks.items())  #print all items from  dict

dict_values([45, 65, 67, 76])
dict_keys(['alex', 'salman', 'komal', 'ram'])
dict_items([('alex', 45), ('salman', 65), ('komal', 67), ('ram', 76)])

In [6]:
marks = {"alex":45,"salman":65,"komal":67,"ram":76}
marks.popitem()  #pop items removes the last element of the dictionary
print(marks)

{'alex': 45, 'salman': 65, 'komal': 67}

In [7]:
marks = {"alex":45,"salman":65,"komal":67,"ram":76}
marks.update({"ram":100})  #here the element  ram is update with value 100 so update method is to be update the dictionary
print(marks)

{'alex': 45, 'salman': 65, 'komal': 67, 'ram': 100}

In [9]:
sem1 = {"IP":89,"WP":88,"OOPS":56}
sem2 = {"WEB":89,"CYBER":88,"DIGITAL":55}
sem3 = {"IP":89,"SECURITY":88,"WEB":54}
sem4 = {}
sem4.update(sem1)
sem4.update(sem2)
sem4.update(sem3)
print(sem4)

{'IP': 89, 'WP': 88, 'OOPS': 56, 'WEB': 54, 'CYBER': 88, 'DIGITAL': 55, 'SECURITY': 88}