In [3]:
# how to change the element  of the list?

mylist = [10,20,30]
mylist[0] = 50
print(mylist)

[50, 20, 30]

In [4]:
# how to change the element of the tuple?

mytup = (10,20,30)
mytup1= list(mytup)
print(mytup1)

[10, 20, 30]

In [11]:
num = (10,20,30)
num1 = list(num)
num1[0] = 50
print(tuple(num1))

(50, 20, 30)

# set

In [12]:
a ={}
print(type(a))

<class 'dict'>

In [13]:
a ={10}
print(type(a))

<class 'set'>

In [15]:
#how to create a blank set?

# a=[] ,a =(),a={}


d =set()    #set is already in pythonn builtin so we need to access it when we want to create blacnk set.
print(type(d))

<class 'set'>

In [16]:

d = {1,2}    
print(type(d))

<class 'set'>

In [17]:

d = {1,"krish"}    
print(type(d))

<class 'set'>

In [18]:
name = [1,2,3,"abc","nepal","india","gujrat"]
print(name)

[1, 2, 3, 'abc', 'nepal', 'india', 'gujrat']

In [20]:
#unordered

name = {1,2,3,"abc","nepal","india","gujrat"}
print(type(name))

<class 'set'>

In [21]:
Student = [100,200,100,300,500]
print(Student)

[100, 200, 100, 300, 500]

In [23]:
#ordered

Student = {100,200,100,300,500}
print("Duplicate is not allowed ",Student)

#here only 100 is taken once that mean duplicates items is not allowed in the set

Duplicate is not allowed  {200, 100, 500, 300}

In [25]:
#add()  --> adding element in the list 

student = {"ram","ram","salman"}
student.add("krish")   #adding opration is performing
student.add("obama")
print(student)

{'obama', 'salman', 'ram', 'krish'}

In [8]:
#Update()  --update is performaing

student = {"ram","ram","salman"}
student1 ={"krish","obama"}
student.update(student1) #update operation is performing
print(student)

{'obama', 'ram', 'salman', 'krish'}

In [10]:
student = {"ram","salman","krish","rahul","anand"}
student.pop("krish") # error given because set.pop() not taking any aruguemnet

TypeError: set.pop() takes no arguments (1 given)

In [7]:
#pop() --->   
student = {"ram","salman","krish","rahul","anand"}
student.pop()  #here pop will remove set item ram
student.pop() # if we use second time  pop in our program it will remove second item from set
print(student)

{'krish', 'salman', 'rahul'}

In [14]:
student = {"ram","salman","krish","rahul","anand"}
res = student.pop()
print(res)

ram

In [16]:
#Remove() ------->  with help of remove method we will remove specific element from list.

student = {"ram","salman","krish","rahul","anand"}
student.remove("rahul")
print(student)

{'ram', 'anand', 'krish', 'salman'}

In [17]:

student = {"ram","salman","krish","rahul","anand"}
print("salman" in student)

True

# union

In [18]:
#union will give new set contining all the unique element from both set.

a = {1,2,3}
b = {3,4,5}
result = a.union(b)   #set remove duplicates
print(result)

{1, 2, 3, 4, 5}

# intersection

In [19]:
#intersection will display the interction point from set 
a = {1,2,3}
b = {3,4,5}
result = a.intersection(b)  
print(result)

{3}

# difference

In [21]:
a = {1,2,3}
b = {3,4,5}
result = a.difference(b)   #12 is not in b
result2 = b.difference(a)  #45 is not in a 
print(result,result2)

{1, 2} {4, 5}

In [23]:
#isdisjoint ------> if set x item is present in set y then it will give false. 
#                   or else it wiil give True if no of items is different in both

x = {"facebook",",moziila","google"}
y = {"google","microsoft","makemytrip"}
res = x.isdisjoint(y)
print(res)

False

In [25]:
x = {"facebook",",moziila","google"}
y = {"microsoft","makemytrip"}
res = x.isdisjoint(y)
print(res)

True

In [26]:
#clear ()  

x = {"facebook",",moziila","google"}
x.clear()   #clear the set
print(x)

set()

In [28]:
#discard  


a = {1,2,3,4,5}
a.discard(4)
print(a)

{1, 2, 3, 5}

In [34]:
# for with list 

a =[10,20,30,40,50]
for i in a:
    print(a)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]

In [31]:
a =[10,20,30,40,50]
for i in a :
    print(i)

10
20
30
40
50

In [33]:
a =[10,20,30,40,50]
for i in a :
    print(i*10)

100
200
300
400
500

In [44]:
a =[10,21,30,40,45]
for i in a:
    if i%2==0:
        print(i,"=Even no")
    else:
        print(i,"=Odd no")

10 =Even no
21 =Odd no
30 =Even no
40 =Even no
45 =Odd no

In [45]:
a = [10,21,30,45]
e =[]
for i in a:
    if i%2==0:
        e.append(i)
print(e)

[10, 30]

In [47]:
#second method

numbers = [10,21,30,45]
newlist = []
for i in numbers:
    if i%2==0:
        newlist.append(i)
print(newlist)

[10, 30]

# list comprehension

In [48]:
numbers = [10,21,30,45]
newlist = [i for i in numbers if i%2==0]
print(newlist)

[10, 30]

In [49]:
num = [1,2,3,4]
newlist = []
for i in num:
    newlist.append(i**2)
print(newlist)

[1, 4, 9, 16]

In [51]:
num = [1,2,3,4]
newlist =[i**2 for i in num]
print(newlist)

[1, 4, 9, 16]

In [52]:
names =["naveen","Swaraj","abrar","Shikhar"]
newlist = [len(i) for i in names]
print(newlist)

[6, 6, 5, 7]

In [54]:
names =["naveen","Swaraj","abrar","Shikhar"]
print(len(names))

4

In [60]:
salary =[20000,30000,40000,50000,10000,50000]
result =sum(salary)
print("Total salary=",result)

Total salary= 200000

In [61]:
names =["naveen","Swaraj","abrar","Shikhar","naveen","Swaraj","abrar","Shikhar"]
print(len(names))

8

In [62]:
sem1 = ["naveen","swaraj"]
sem2 = ["Ram","Alex"]
sem3 = ["prerna","Komal"]
print(sem1+sem2+sem3)

['naveen', 'swaraj', 'Ram', 'Alex', 'prerna', 'Komal']

In [65]:
salary =[20000,30000,40000,50000,10000,50000,30000]
total = sum(salary)
length =len(salary)
avg  = total/length
print("avarage salary",avg)

avarage salary 32857.142857142855