In [15]:
# 1.List with empty elements

In [16]:
a = []

In [17]:
# 2.Checking Types

In [18]:
print(type(a))

<class 'list'>

In [20]:
# 3. List with integers elements

In [21]:
a = [1,2,3]

In [9]:
print(a)

[1, 2, 3]

In [10]:
# 4. List with string elements

In [12]:
 name= ["Alex","Salmaan","Krish"]

In [13]:
print(name)

['Alex', 'Salmaan', 'Krish']

In [14]:
print(type(name))

<class 'list'>

In [22]:
# 5. List with integers & string elements

In [23]:
 name= ["Alex","Salmaan","Krish",30,22]

In [24]:
print(name)

['Alex', 'Salmaan', 'Krish', 30, 22]

In [25]:
# 6. Creating a list and printing its elements:

In [26]:
fruits = ["apple", "banana", "cherry"]
print(fruits)  # Output: ['apple', 'banana', 'cherry']

['apple', 'banana', 'cherry']

In [27]:
# 7. Accessing elements using indexing

In [28]:
fruits = ["apple", "banana", "cherry"]

In [29]:
print(fruits)

['apple', 'banana', 'cherry']

In [30]:
print(fruits[0])

apple

In [31]:
print(fruits[1])

banana

In [32]:
print(fruits[1,2])

TypeError: list indices must be integers or slices, not tuple

In [33]:
print(fruits[1],fruits[2])

banana cherry

In [35]:
print(fruits[-1])

cherry

In [36]:
print(fruits[-0])

apple

In [37]:
print(fruits[-1])

cherry

In [ ]:
# Accessing elements using indexing:

In [39]:
numbers = [1, 2, 3, 4, 5]
print(numbers[0])  # Output: 1
print(numbers[3])  # Output: 4

1
4

In [40]:
# Changing elements in a list

In [42]:
animals = ["cat", "dog", "elephant"]
animals[1] = "lion"
print(animals)

['cat', 'lion', 'elephant']

In [45]:
# Adding elements to a list using append():

In [46]:
numbers = [1, 2, 3]
numbers.append(4)
print(numbers)

[1, 2, 3, 4]

In [47]:
numbers = [1, 2, 3]
numbers[3]=4
print(numbers)

IndexError: list assignment index out of range

In [50]:
# 5. Removing elements from a list using remove():

In [49]:
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
print(fruits)  # Output: ['apple', 'cherry']

['apple', 'cherry']

In [51]:
# 6. Using len() to find the length of a list:
fruits = ["apple", "banana", "cherry"]
print(len(fruits))

3

In [52]:
# 7. Slicing a list to get a part of it:

numbers = [1, 2, 3, 4, 5]
print(numbers[1:4])  # Output: [2, 3, 4]

[2, 3, 4]

In [53]:
# 8. Combining two lists using the + operator:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined_list = list1 + list2
print(combined_list)  # Output: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [55]:
# 9. Checking if an element is present in a list:

fruits = ["apple", "banana", "cherry"]
print("banana" in fruits)  # Output: True
print("orange" in fruits)  # Output: False

True
False

In [56]:
# 10. Iterating through a list using a for loop:

numbers = [1, 2, 3, 4, 5]
for num in numbers:
    print(num)

1
2
3
4
5

In [57]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    print(num*2)

2
4
6
8
10

In [58]:
numbers = [1, 2, 3, 4, 5]
print(max(numbers))

5

In [59]:
numbers = [1, 2, 3, 4, 5]
print(min(numbers))

1

In [60]:
salary = [25000,30000,4000]
print(max(salary))

30000

In [62]:
mylist = []
for i in range(1,11):
    a=int(input("Enter input: "))
    mylist.append(a)
print(mylist)

1
2
3
4
5
6
7
8
9
10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]